<div class="row">
	<div class="col-md-8">
		<div class="panel panel-primary">
			<div class="panel-heading">
				Machine Serial Numbers
			</div>
			<div class="panel-body">
				<label>Only one serial number per line:</label>
				<textarea class="form-control" rows="10" ng-model="serialNumbers"></textarea>
			</div>
		</div>
	</div>
	<div class="col-md-4">
		<div class="panel panel-primary">
			<div class="panel-heading">
				Operation
			</div>
			<div class="panel-body">
				<label>Operation:</label>
				<select class="form-control" ng-model="selectedOperation" ng-options="operation.name for operation in operations">
				</select>

				<div ng-if="selectedOperation.id <= 1">
					<br>
					<label >Tag:</label>
					<select class="form-control" ng-model="$parent.selectedTag" ng-options="tag.name for tag in tags">
					</select>
				</div>

				<br>
				<button class="btn btn-primary pull-right" ng-click="commitOperation()">Submit</button>
			</div>
		</div>
	</div>
</div>
